@using CitySpeaks_samle.Models.Admin
@using CitySpeaks_samle.Models
@model CitySpeaks_samle.Models.Admin.AdminCustomPageList

@{
    ViewBag.Title = "Список страниц";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    @if (TempData["message"] != null)
    {
        @TempData["message"]
    }
</p>

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Показывать в "О Себе"</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CustomPage page in Model.CustomPage)
            {
                <tr>
                    <td>@page.Name</td>
                    <td>
                        @if (page.IsShow)
                        {
                            <img src="~/Content/checked_checkbox.png" style="height:20px" alt="" />
                        }
                        else
                        {
                            <img src="~/Content/unchecked_checkbox.png" style="height:20px" alt="" />
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Show", "CustomPage", new { id = page.Id })">
                            <img src="~/Content/Show_Icon.png" style="height:20px" alt="" />
                        </a>
                        <a href="@Url.Action("Delete", "CustomPage", new { id = page.Id })">
                            <img src="~/Content/Delete_Icon.png" style="height:20px" alt="" />
                        </a>
                        <a href="@Url.Action("Edit", "CustomPage", new { id = page.Id })">
                            <img src="~/Content/Edit_Icon.png" style="height:20px" alt="" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @Html.AdminPageLinks(Model.PagingInfo, x => Url.Action("GetCustomPageList", new { page = x }))
    </div>
    @Html.ActionLink("Добавить страницу", "Create", "CustomPage")
</div>
