@using CitySpeaks_samle.Models
@model CitySpeaks_samle.Models.UserNewsList

@{
    ViewBag.Title = "Новости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (News news in Model.News)
{
    <section id="banner" style="padding-top: 2em; padding-bottom: 2em">
        <div class="content">
            <header>
                <h3>
                    @news.Name
                </h3>
            </header>
            <p>@news.ShortDescription </p>
            <ul class="actions">
                <li>@Html.ActionLink("Читать", "Show", "News", new { id = news.NewsId }, new { @class = " " })</li>
            </ul>
        </div>
        <span class="image object">
            <img src="@Url.Action("GetSmallImage", "News",
                    new { news.NewsId })" alt="">
        </span>
    </section>
    <hr style="margin-top: 1em" class="major" />
}

<div>
    @Html.UserPageLinks(Model.PagingInfo, x => Url.Action("GetNewsList", new { page = x }))
</div>