<!DOCTYPE HTML>
<!--
    Editorial by HTML5 UP
    html5up.net | ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content1/carousel")
    @Scripts.Render("~/bundles/yandex")
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Banner -->
                <section>
                    <header class="major">
                        <h2>@ViewBag.Title</h2>
                    </header>
                    @RenderBody()
                </section>
            </div>
        </div>

        <!-- Sidebar -->
        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">
                <!-- Menu -->
                <nav id="menu">
                    <a style="width:100%" href="@Url.Action("Index", "Home")" class="image">
                        <img style="width:100%" src="@Url.Action("GetLogoImage", "MainPage",
                        new { newsId = 1 })" alt="" />
                    </a>
                    <ul>
                        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                        <li>@Html.ActionLink("Новости", "GetNewsList", "Home")</li>
                        <li>
                            <span class="opener active">Программы</span>
                            <ul>
                                @Html.Action("ListOfCategory", "Home")
                                @Html.Action("ListOfUnCategory", "Home")
                            </ul>

                        </li>
                        <li>@Html.ActionLink("Отзывы", "GetReviewList", "Home")</li>
                        @Html.Action("GetListOfCorePages", "CustomPage")
                        <li>
                            <span class="opener">О нас</span>
                            <ul>
                                @Html.Action("GetListOfPages", "CustomPage")
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Написать нам", "Index", "Contact")</li>
                    </ul>
                </nav>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Последняя новость</h2>
                    </header>
                    @{Html.RenderAction("LastNews", "Home");}
                </section>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Контакты</h2>
                    </header>
                    <ul class="contact">
                        <li class="fa-envelope-o">@Html.ActionLink("mail@cityspeaks.ru", "Index", "Contact")</li>
                        <li class="fa-phone">256-95-02</li>
                        <li class="fa-home">
                            Ленинский пр., 151<br />
                            г. Воронеж
                        </li>
                    </ul>
                </section>

                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">&copy; @DateTime.Now.Year CitySpeaks. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
                </footer>

            </div>
        </div>

    </div>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/main")
</body>
</html>