<!DOCTYPE HTML>
<!--
    Editorial by HTML5 UP
    html5up.net | ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/carousel")
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Banner -->
                <section>
                    <header class="major">
                        <h2>@ViewBag.Title</h2>
                    </header>
                    @RenderBody()
                </section>
            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">
                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <a style="width:100%" href="@Url.Action("Index", "Home")" class="image">
                            <img style="width:100%" src="@Url.Action("GetLogoImage", "MainPage",
                        new { newsId = 1 })" alt="" />
                        </a>
                    </header>
                    <ul>
                        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                        <li>@Html.ActionLink("Новости", "GetNewsList", "Home")</li>
                        <li>
                            <span class="opener active">Программы</span>
                            <ul>
                                @Html.Action("ListOfCategory", "Home")
                                @Html.Action("ListOfUnCategory", "Home")
                            </ul>

                        </li>
                        <li>@Html.ActionLink("Отзывы", "GetReviewList", "Home")</li>
                        <li>
                            <span class="opener">О нас</span>
                            <ul>
                                @Html.Action("GetListOfPages", "CustomPage")
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Написать нам", "Index", "Contact")</li>
                    </ul>
                </nav>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Последняя новость</h2>
                    </header>
                    @{Html.RenderAction("LastNews", "Home");}
                </section>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Контакты</h2>
                    </header>
                    <p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d618.366876878486!2d39.265815229253356!3d51.687889330140145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x413b2f84f555887b%3A0x7ec379572002144b!2z0L_RgNC-0YHQvy4g0JvQtdC90LjQvdGB0LrQuNC5LCAxNTYsINCS0L7RgNC-0L3QtdC2LCDQktC-0YDQvtC90LXQttGB0LrQsNGPINC-0LHQuy4sIDM5NDA2Mw!5e0!3m2!1sru!2sru!4v1491202463792" width="335" height="300" frameborder="0" style="width:100%; border:0" allowfullscreen></iframe>
                    </p>
                    <ul class="contact">
                        <li class="fa-envelope-o">@Html.ActionLink("mail@cityspeaks.ru", "Index", "Contact")</li>
                        <li class="fa-phone">256-95-02</li>
                        <li class="fa-home">
                            Ленинский пр., 156, оф. 307<br />
                            г. Воронеж
                        </li>
                    </ul>
                </section>

                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">&copy; @DateTime.Now.Year CitySpeaks. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
                </footer>

            </div>
        </div>

    </div>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/main")
</body>
</html>