@model CitySpeaks.Domain.Models.MainPage

@{
    ViewBag.Title = "Редактирование главной страницы";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Edit", "MainPage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        @if (TempData["message"] != null)
        {
            @TempData["message"]
        }
        @Html.ValidationSummary()
    </p>
    <div class="panel-body">
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            @Html.LabelFor(x => x.Title)

            @Html.TextBoxFor(x => x.Title,
                        new { @class = "form-control" })
            @Html.LabelFor(x => x.Subtitle)

            @Html.TextBoxFor(x => x.Subtitle,
                        new { @class = "form-control" })
            @Html.LabelFor(x => x.Description)

            @Html.TextAreaFor(x => x.Description, 5, 200,
                        new { @class = "form-control", rows = 5 })

        </div>

        <label>Главное изображение</label>
        <p><input type="file" name="image1" size="40" id="SmallImage"></p>
        @if (Model == null || Model.LogolImageData == null)
                {
            <div class="form-control-static">Нет картинки</div>
        }
        else
        {
            <span class="image">
                <img width="600"
                     src="@Url.Action("GetMainImage", "MainPage",
                        new { newsId = Model.Id })" />
            </span>
        }

        <label>Логотип</label>
        <p><input type="file" name="image2" size="40" id="SmallImage"></p>
        @if (Model == null || Model.LogolImageData == null)
        {
            <div class="form-control-static">Нет картинки</div>
        }
        else
        {
            <span class="image">
                <img width="300"
                     src="@Url.Action("GetLogoImage", "MainPage",
                        new { newsId = Model.Id })" />
            </span>
        }
    </div>
    <ul class="actions">
        <li><input type="submit" value="Сохранить" class="button big" /></li>
    </ul>
}
