@model CitySpeaks_samle.Models.Workers

@{
    ViewBag.Title = "Редактирование работника";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Edit", "Workers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        @if (TempData["message"] != null)
        {
            @TempData["message"]
        }
        @Html.ValidationSummary()
    </p>
    <div class="panel-body">
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            @Html.LabelFor(x => x.Name)

            @Html.TextBoxFor(x => x.Name,
                        new { @class = "form-control" })
            @Html.LabelFor(x => x.ShortDescription)
            @Html.TextBoxFor(x => x.ShortDescription,
                        new { @class = "form-control" })
            @Html.LabelFor(x => x.FullDescription)

            @Html.TextAreaFor(x => x.FullDescription, 5, 200,
                        new { @class = "form-control", rows = 5 })
        </div>

        <label>Изображение</label>
        <p><input type="file" name="image1" size="40" id="SmallImage"></p>
        @if (Model == null || Model.ImageData == null)
        {
            <div class="form-control-static">Нет картинки</div>
        }
        else
        {
            <span class="image">
                <img width="288" height="174"
                     src="@Url.Action("GetImage", "Workers",
                        new { Model.Id })" />
            </span>
        }

        <label>Большое изображение</label>
        <p><input type="file" name="image2" size="40" id="SmallImage"></p>
        @if (Model == null || Model.BigImageData == null)
        {
            <div class="form-control-static">Нет картинки</div>
        }
        else
        {
            <span class="image">
                <img width="300"
                     src="@Url.Action("GetBigImage", "Workers",
                        new { newsId = Model.Id })" />
            </span>
        }
    </div>

    <ul class="actions">
        <li><input type="submit" value="Сохранить" class="button big" /></li>
    </ul>
}

